/*
Print Styles
Author: Randy Cramer
Date: 10/22/2015
*/

nav, header{
    display: none;
}

@page {
    size: 8.5in 11in;
    margin: 0.5in;
}

body{
    color: black;
    background-color: white;
    font-size: 12pt;
    font-family: "Times New Roman", Times, serif;
    line-height: 120%;
}

a {
    text-decoration: underline;
    color: blue;
}
img {
    display: none;
}
